@model FreeRock.ViewModels.AlbumViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album.ID" />
            
            <div class="form-group">
                <label asp-for="Album.Title" class="control-label"></label>
                <input asp-for="Album.Title" class="form-control" />
                <span asp-validation-for="Album.Title" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-6">
                    <cover-image source="@Model.Album.CoverPath" alt-name="@Model.Album.Title"/>
                </div>
                <div class="col-6 input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" accept=".jpg" asp-for="CoverImage">
                        <label class="custom-file-label" asp-for="CoverImage">Upload new picture</label>
                        <span asp-validation-for="CoverImage" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Album.Artist" class="control-label"></label>
                <!--<input hidden type="number" class="form-control" list="artist-id"/>-->
                <!--<input hidden list="artist-id" asp-for="Album.ArtistID"/>-->
                <input type="text" class="form-control" list="artist-id" asp-for="Album.ArtistID"/>
                <datalist id="artist-id" list-items="ViewBag.ArtistID">
                    <!--foreach (var di in ViewBag.ArtistID) {
                        <option value="di.Value" title="di.Text"></option>
                    }-->
                </datalist>
                <span asp-validation-for="Album.ArtistID" class="text-danger" />
            </div>
            <div>
                @await Component.InvokeAsync("ArtistMin", Model.Album.ArtistID)
            </div>
            <div class="form-group">
                <label asp-for="Album.ReleaseDate" class="control-label"></label>
                <input asp-for="Album.ReleaseDate" class="form-control" />
                <span asp-validation-for="Album.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.Description" class="control-label"></label>
                <input asp-for="Album.Description" class="form-control" type="text" />
                <span asp-validation-for="Album.Description" class="text-danger"></span>
            </div>
            @await Component.InvokeAsync("EditSongs", Model.Album)
            <div>
                <label asp-for="Album.IsVerified" class="control-label"></label>
                <label asp-for="Album.IsVerified" class="switch">
                    <input asp-for="Album.IsVerified" type="checkbox">
                    <span asp-validation-for="Album.IsVerified" class="slider round"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <script>

            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

