@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}
<h2>@ViewData["Title"]</h2>
<h3>@Localizer["DescriptionContent"]</h3>
<p>@Localizer["Content"]</p>
