@model FreeRock.ViewModels.ArtistViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Artist.Name" class="control-label"></label>
                <input asp-for="Artist.Name" class="form-control" />
                <span asp-validation-for="Artist.Name" class="text-danger"></span>
            </div>
            <div class="col-6 input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" accept=".jpeg,.jpg" asp-for="PhotoImage">
                    <label class="custom-file-label" asp-for="PhotoImage">Upload new picture</label>
                    <span style="color: tomato" asp-validation-for="PhotoImage"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Artist.Description" class="control-label"></label>
                <textarea asp-for="Artist.Description" class="form-control" />
                <span asp-validation-for="Artist.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
